* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Khôi phục cỡ chữ mặc định */

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ===================== common ================= */
a {
  text-decoration: none;
}

.main-content {
  width: calc(100% - 48px); /* Lưu ý có dấu cách hai bên dấu -*/
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}

/* ======================= Header ================ */

.header {
  background: #fffcf4;
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav ul {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  /* background-color: blue; */
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #171100;
  position: absolute;
  left: 21px;
  bottom: 6px;
}

.header .btn-sign-up {
  min-width: 144px;
  margin-left: 49px;
}
