* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", "sans-serif";
}

html {
  font-size: 62.5%;
}

/* Khôi phục cỡ chữ mặc định */

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ===================== common ================= */
a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px); /* Lưu ý có dấu cách hai bên dấu -*/
  margin-left: auto;
  margin-right: auto;
}

/* Để đảm bảo chữ hiện vừa khung, thừa sẽ ẩn đi */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Phần tử đồng thời có cả 2 class này mới apply */
/* Viết liền 02 class */
.line-clamp.line-2 {
  --line-clamp: 2;
}

/* Dùng để ngắt dòng trường hợp một từ quá dài do cố ý nhập */
.break-all {
  word-break: break-all;
}

/* ======================= Header ================ */

.header {
  background: #fffcf4;
}

/* Phần tử đồng thời có 02 class này mới apply */
/* Viết liền 02 class */
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav ul {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #171100;
  position: absolute;
  left: 21px;
  bottom: 6px;
}

.header .btn-sign-up {
  min-width: 144px;
  margin-left: 49px;
}

/* ==========================  Hero ============================= */

.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .hero-summary {
  width: 270px;
  padding: 24px 0 24px 24px;
  position: absolute;
  bottom: 48px;
  left: 300px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff9e8;
}

.hero-summary .icon2 {
  background: #fcefff;
}

.hero-summary .icon3 {
  background: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.hero-summary .tittle {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}

/* =========================  Hero right ========================== */

.hero .content-block {
  width: 52%;
  margin-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
  margin-top: 38px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: #ffb900;
}

.hero .watch-video {
  margin-left: 28px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67px; /* 166.667% */
}

.content-block .desc-recent {
  margin-bottom: 8px;
}

.content-block .stats strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
}

.content-block .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* ============= popular ================ */
.popular {
  padding: 65px 0;

  margin-top: 135px;
}

.popular-top {
  display: flex;
  justify-content: space-between;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.popular-top .control {
  display: flex;
  gap: 18px;
  align-items: center;
}

.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  color: #ffb900;
  border: 1px solid #ffb900;
}

.popular-top .control-btn:hover {
  background-color: #ffb900;
  color: white;
}

.popular .course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.popular .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-item:hover {
  border-radius: 12px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  height: 278px;
  object-fit: cover;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .rating,
.popular .course-item .head,
.popular .course-item .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .course-item .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.popular .rating .value {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.popular .course-item .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.popular .course-item .btn-book {
  border: none;
  border-radius: 25px;
}

.popular .course-item .btn-book:hover {
  background: #ffb900;
}

/* ========== Feedback ========== */

.feedback {
  margin-top: 135px;
  background: #2e2100;
  padding: 96px 0;
}

.feedback .feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback .feedback-item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  /* Đoạn này thêm vào để lướt sang tab có hiệu ứng ease 0.5 giây */
  /* transform: translateX(-100%);
   transition: all ease .5s; */
}

.feedback .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}

.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.feedback-item .info .dots {
  margin-top: 28px;
  display: flex;
  gap: 6px;
}

.feedback-item .info .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

/* Class dot và active đồng thời mới apply */
.feedback-item .info .dot.active {
  background: #ffb900;
  cursor: default; /* Đang active ko cần cursor nữa */
}

.feedback-item .content {
  width: 66%; /* 770/1170 */
  margin-left: auto;
}

.feedback-item blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.54; /* 153.846% */
}

/* =========== Feature 1 ========== */

.feature {
  margin: 135px 0;
  padding: 65px 0;
}

.feature .body {
  display: flex;
  justify-content: space-between;
}

.feature .images {
  display: flex;
  gap: 30px;
}

.feature .images img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}

.feature .images .img-left {
  margin-top: 34px;
}

.feature .content {
  width: 41%;
  /* Cách 1 */
  /* margin: auto 0; */
  /* Cách 2 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature .content .desc {
  margin: 16px 0;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.feature .content .cta-btn {
  margin-top: 16px;
  width: 137px;
  height: 50px;
  background: #ffb900;
}
.popular .course-item .btn-book {
  border: none;
  border-radius: 25px;
}

/* =========== Feature 2 ========== */
.feature-2nd {
  margin-top: 70px;
}

.feature-2nd .content {
  width: 49%;
}

.feature-2nd .images img {
  width: 470px;
  height: 440px;
  overflow: cover;
}

.feature-2nd .body {
  flex-direction: row-reverse;
}
